In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('golf_binary.csv', index_col=0)

In [3]:
df['Outlook']=df.index
df=df.set_index(pd.Index(list(range(df.shape[0]))))

In [4]:
df

   Temperature Humidity    Wind Play Golf   Outlook
0          Hot     High    Weak        No     Rainy
1          Hot     High  Strong        No     Rainy
2          Hot     High    Weak       Yes  Overcast
3         Mild     High    Weak       Yes     Sunny
4         Cool   Normal    Weak       Yes     Sunny
5         Cool   Normal  Strong        No     Sunny
6         Cool   Normal  Strong       Yes  Overcast
7         Mild     High    Weak        No     Rainy
8         Cool   Normal    Weak       Yes     Rainy
9         Mild   Normal    Weak       Yes     Sunny
10        Mild   Normal  Strong       Yes     Rainy
11        Mild     High  Strong       Yes  Overcast
12         Hot   Normal    Weak       Yes  Overcast
13        Mild     High  Strong        No     Sunny

In [5]:
uniq=[df[i].unique().tolist() for i in df.columns]
len_of_uniq=list(map(len,uniq))

In [6]:
uniq

[['Hot', 'Mild', 'Cool'],
 ['High', 'Normal'],
 ['Weak', 'Strong'],
 ['No', 'Yes'],
 ['Rainy', 'Overcast', 'Sunny']]

In [7]:
new_df=pd.DataFrame()
for i in range(len(uniq)):
    if len_of_uniq[i]==2:
        new_df[df.columns[i]]=df[df.columns[i]].replace({uniq[i][1]:1,uniq[i][0]:0})
    if len_of_uniq[i]==3:
        for j in range(3):
            lst=uniq[i][:j] + uniq[i][j+1:]
            new_df[uniq[i][j]]=df[df.columns[i]].replace({uniq[i][j]:1,lst[0]:0,lst[1]:0})

In [8]:
new_df

    Hot  Mild  Cool  Humidity  Wind  Play Golf  Rainy  Overcast  Sunny
0     1     0     0         0     0          0      1         0      0
1     1     0     0         0     1          0      1         0      0
2     1     0     0         0     0          1      0         1      0
3     0     1     0         0     0          1      0         0      1
4     0     0     1         1     0          1      0         0      1
5     0     0     1         1     1          0      0         0      1
6     0     0     1         1     1          1      0         1      0
7     0     1     0         0     0          0      1         0      0
8     0     0     1         1     0          1      1         0      0
9     0     1     0         1     0          1      0         0      1
10    0     1     0         1     1          1      1         0      0
11    0     1     0         0     1          1      0         1      0
12    1     0     0         1     0          1      0         1      0
13    0     1     0         0     1          0      0         0      1

In [9]:
probability=[]
len_new_df=new_df.shape[0]
for i in range(len_new_df):

    temperature=new_df.iloc[i][['Hot','Mild','Cool']].values
    outlook=new_df.iloc[i][['Rainy', 'Overcast', 'Sunny']].values
    humidity=new_df.iloc[i]['Humidity']
    y=new_df.iloc[i]['Play Golf']
    wind=new_df.iloc[i]['Wind']

    y1=new_df[new_df['Play Golf']==y].shape[0]
    x1=new_df[(new_df['Play Golf']==y) & (new_df['Humidity']==humidity)].shape[0]/y1
    x2=new_df[(new_df['Play Golf']==y) & (new_df['Wind']==wind)].shape[0]/y1
    x3=new_df[(new_df['Play Golf']==y) & (new_df['Hot']==temperature[0]) & (new_df['Mild']==temperature[1]) & (new_df['Cool']==temperature[2])].shape[0]/y1
    x4=new_df[(new_df['Play Golf']==y) & (new_df['Rainy']==outlook[0]) & (new_df['Overcast']==outlook[1]) & (new_df['Sunny']==outlook[2])].shape[0]/y1

    y1_1=new_df[new_df['Play Golf']==1-y].shape[0]
    x1_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Humidity']==humidity)].shape[0]/y1_1
    x2_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Wind']==wind)].shape[0]/y1_1
    x3_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Hot']==temperature[0]) & (new_df['Mild']==temperature[1]) & (new_df['Cool']==temperature[2])].shape[0]/y1_1
    x4_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Rainy']==outlook[0]) & (new_df['Overcast']==outlook[1]) & (new_df['Sunny']==outlook[2])].shape[0]/y1_1
    
    probability.append((y1/len_new_df*x1*x2*x3*x4)/(y1/len_new_df*x1*x2*x3*x4+y1_1/len_new_df*x1_1*x2_1*x3_1*x4_1))

In [10]:
new_df['Probability']=probability
new_df

,Hot,Mild,Cool,Humidity,Wind,Play Golf,Rainy,Overcast,Sunny,Probability
0,1,0,0,0,0,0,1,0,0,0.795417
1,1,0,0,0,1,0,1,0,0,0.921036
2,1,0,0,0,0,1,0,1,0,1.000000
3,0,1,0,0,0,1,0,0,1,0.536481
4,0,0,1,1,0,1,0,0,1,0.932836
5,0,0,1,1,1,0,0,0,1,0.177632
6,0,0,1,1,1,1,0,1,0,1.000000
7,0,1,0,0,0,0,1,0,0,0.660326
8,0,0,1,1,0,1,1,0,0,0.860585
9,0,1,0,1,0,1,0,0,1,0.902527
10,0,1,0,1,1,1,1,0,0,0.578369
11,0,1,0,0,1,1,0,1,0,1.000000
12,1,0,0,1,0,1,0,1,0,1.000000
13,0,1,0,0,1,0,0,0,1,0.721604

In [11]:
df['Probability']=probability
df # в данном лсучае оценена вероятность наборов

   Temperature Humidity    Wind Play Golf   Outlook  Probability
0          Hot     High    Weak        No     Rainy     0.795417
1          Hot     High  Strong        No     Rainy     0.921036
2          Hot     High    Weak       Yes  Overcast     1.000000
3         Mild     High    Weak       Yes     Sunny     0.536481
4         Cool   Normal    Weak       Yes     Sunny     0.932836
5         Cool   Normal  Strong        No     Sunny     0.177632
6         Cool   Normal  Strong       Yes  Overcast     1.000000
7         Mild     High    Weak        No     Rainy     0.660326
8         Cool   Normal    Weak       Yes     Rainy     0.860585
9         Mild   Normal    Weak       Yes     Sunny     0.902527
10        Mild   Normal  Strong       Yes     Rainy     0.578369
11        Mild     High  Strong       Yes  Overcast     1.000000
12         Hot   Normal    Weak       Yes  Overcast     1.000000
13        Mild     High  Strong        No     Sunny     0.721604

In [12]:
def find_prob(temperature,outlook,humidity,wind):
    len_new_df=new_df.shape[0]
    y=1

    y1=new_df[new_df['Play Golf']==y].shape[0]
    x1=new_df[(new_df['Play Golf']==y) & (new_df['Humidity']==humidity)].shape[0]/y1
    x2=new_df[(new_df['Play Golf']==y) & (new_df['Wind']==wind)].shape[0]/y1
    x3=new_df[(new_df['Play Golf']==y) & (new_df['Hot']==temperature[0]) & (new_df['Mild']==temperature[1]) & (new_df['Cool']==temperature[2])].shape[0]/y1
    x4=new_df[(new_df['Play Golf']==y) & (new_df['Rainy']==outlook[0]) & (new_df['Overcast']==outlook[1]) & (new_df['Sunny']==outlook[2])].shape[0]/y1

    y1_1=new_df[new_df['Play Golf']==1-y].shape[0]
    x1_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Humidity']==humidity)].shape[0]/y1_1
    x2_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Wind']==wind)].shape[0]/y1_1
    x3_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Hot']==temperature[0]) & (new_df['Mild']==temperature[1]) & (new_df['Cool']==temperature[2])].shape[0]/y1_1
    x4_1=new_df[(new_df['Play Golf']==1-y) & (new_df['Rainy']==outlook[0]) & (new_df['Overcast']==outlook[1]) & (new_df['Sunny']==outlook[2])].shape[0]/y1_1
    
    pr=((y1/len_new_df)*x1*x2*x3*x4)/((y1/len_new_df)*x1*x2*x3*x4+(y1_1/len_new_df)*x1_1*x2_1*x3_1*x4_1)
    return [pr,1-pr]

In [13]:
#temperature=['Hot', 'Mild', 'Cool']
#outlook=['Rainy', 'Overcast', 'Sunny']
#где 1-выбор параметра, можно вводить только одну единицу в списках

#humidity,wind,y - 1 значит присутствие, 0 - отсутствие

find_prob([1,0,0],[0,0,1],1,0) #Функция для расчета при любом вводе признаков

[0.8223684210526315, 0.17763157894736847]