Реализовать обучение двухслойной нейронной сети методом стохастического градиентного спуска

In [1]:
import numpy as np
import pandas as pd
from random import choice

In [2]:
df1=pd.read_csv('swetofor.csv')
df1

   X1  X2  X3  y
0   1   0   0  0
1   0   1   0  0
2   0   0   1  1
3   1   1   0  0
4   0   1   1  1
5   1   0   1  0
6   1   1   1  0
7   0   0   0  1

In [3]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [4]:
teta1=np.array([[0.5, 0.2], [0.1, -0.3], [-0.1, 0.5]])
teta2=np.array([0.8, 0.2])
nu=0.1

In [5]:
i=0
while i<=50000:
    ind=choice(list(range(df1.shape[0])))
    x=df1[['X1','X2','X3']].iloc[ind].values
    y=df1.y.iloc[ind]
    u=sigmoid(np.dot(x,teta1))
    a=sigmoid(np.dot(u,teta2))
    teta2=teta2-nu*(a-y)*a*(1-a)*u
    teta1=teta1-nu*np.outer(x,(a-y)*a*(1-a)*teta2*u*(1-u))
    i+=1

In [6]:
probab=sigmoid(np.dot(sigmoid(np.dot(df1[['X1','X2','X3']],teta1)),teta2))
probab

array([0.01696963, 0.06940817, 0.99860629, 0.01222385, 0.95348424,
       0.05122176, 0.01553452, 0.88537928])

In [7]:
df1['probab']=np.where(probab > 0.8, 1, 0)

In [8]:
df1

   X1  X2  X3  y  probab
0   1   0   0  0       0
1   0   1   0  0       0
2   0   0   1  1       1
3   1   1   0  0       0
4   0   1   1  1       1
5   1   0   1  0       0
6   1   1   1  0       0
7   0   0   0  1       1